@model Prédio_Comercial.Models.Usuarios;
@{
    Layout = "_Layout - Login";
}
@if (TempData["MensageErro"] != null)
{
    <div id="message" class=" container row col-md-2">
        <div class="alert-danger" role="alert">
            <button id="button" class="btn btn-close"></button>
            @TempData["MensageErro"]
        </div>
    </div>
}
<br />
<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <form asp-controller="Usuarios" asp-action="Login" class="">
                <div class="g-4 m-4">
                    <div class="input-group input-group-lg mb-3">
                        @* <label asp-for="Login" style="color:white" class="form-label">Login</label> *@
                        <input asp-for="Login" placeholder="Login" aria-label="Login" type="text" class="form-control">
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="input-group input-group-lg mb-3">
                        @* <label asp-for="Password" style="color:white" class="form-label"></label> *@
                        <input asp-for="Password" placeholder="Password" aria-label="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <h10 style="color:white">Desenvolvido por Cezar - 20025</h10>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
    $(document).ready(function() {
    $("#button").click(function fecharMenssagem() {
        $("#message").hide();
    });
   });
</script>
