@model Usuarios;
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

@* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid g-3">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand">@Model.Login</a>
            </div>
        </nav>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Visitantes" asp-action="Index">Controle de Entradas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Criar">Usuarios</a>
                </li>
            </ul>
        </div>
    </div>
</nav> *@
<style>
    a {
        color: white;
        display: block;
        transition: 0.3s;
        text-align: initial;
        padding: 20px;
    }

        a:hover {
            background: #333;
            color: orange;
        }
</style>
<a>Bem vindo @Model.Login</a>
<a class="" asp-area="" asp-controller="Acessos" asp-action="Index">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-up" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0" />
        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-3.59 1.787A.5.5 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.5 4.5 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
    </svg>Acessos
</a>

<a class="" asp-area="" asp-controller="Visitantes" asp-action="Index">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-passport" viewBox="0 0 16 16">
        <path d="M8 5a3 3 0 1 0 0 6 3 3 0 0 0 0-6M6 8a2 2 0 1 1 4 0 2 2 0 0 1-4 0m-.5 4a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z" />
        <path d="M3.232 1.776A1.5 1.5 0 0 0 2 3.252v10.95c0 .445.191.838.49 1.11.367.422.908.688 1.51.688h8a2 2 0 0 0 2-2V4a2 2 0 0 0-1-1.732v-.47A1.5 1.5 0 0 0 11.232.321l-8 1.454ZM4 3h8a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1" />
    </svg>Visitantes
</a>

<a class="" asp-area="" asp-controller="Usuarios" asp-action="Criar">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11" />
    </svg>Usuários
</a>

<a class="" asp-area="" asp-controller="Proprietarios" asp-action="Index"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
        <path d="M6.5 2a.5.5 0 0 0-.5.5V3H4a2 2 0 0 0-2 2v5.5a.5.5 0 0 0 1 0V5a1 1 0 0 1 1-1h2v.5a.5.5 0 0 0 1 0V4h2v.5a.5.5 0 0 0 1 0V4h2a1 1 0 0 1 1 1v5.5a.5.5 0 0 0 1 0V5a2 2 0 0 0-2-2h-2v-.5a.5.5 0 0 0-.5-.5h-3z" />
        <path d="M5 12a3 3 0 1 1 6 0H5z" />
    </svg>Proprietários
</a>
<a class="" asp-area="" asp-controller="Ocorrencias" asp-action="Index"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-octagon" viewBox="0 0 16 16">
        <path d="M7.001 1.067a1 1 0 0 1 1.998 0l.25 2a1 1 0 0 1-.998 1.118h-1.5a1 1 0 0 1-.998-1.118l.25-2zM7.5 6a.5.5 0 0 1 1 0v4a.5.5 0 0 1-1 0V6zm0 6.5a.5.5 0 0 1 1 0 .5.5 0 0 1-1 0z" />
        <path d="M11.46.146a.5.5 0 0 1 .354.146l3.5 3.5a.5.5 0 0 1 .146.354v7.708a.5.5 0 0 1-.146.354l-3.5 3.5a.5.5 0 0 1-.354.146H4.54a.5.5 0 0 1-.354-.146l-3.5-3.5a.5.5 0 0 1-.146-.354V4.146a.5.5 0 0 1 .146-.354l3.5-3.5a.5.5 0 0 1 .354-.146h6.92zM4.707 1H11.293L15 4.707v6.586L11.293 15H4.707L1 11.293V4.707L4.707 1z" />
    </svg>Ocorrências
</a>



@* <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-success" type="submit">Search</button>
                </form> *@

<br />
<br />
<br />