@model Prédio_Comercial.Models.Visitantes;
@{
    ViewData["Title"] = "Editar Visitantes";
}

<h2>Editar Visitante</h2>

                <div class="container">
                    <div class="row">
                        <form class="form-control" asp-controller="Visitantes" asp-action="Editar" id="formEditarVisitante">
                            <input type="hidden" asp-for="Id" />
                             <div class="col-4">

                                <label asp-for="Name">Nome:</label>
                                <input asp-for="Name" type="text" class="form-control" />

                            </div>
                            <div class="col-4">
                                <label asp-for="Documento">RG/CPF:</label>
                                <input asp-for="Documento" type="text" placeholder="000.000.000-00" class="form-control " />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="col-4">
                                <label asp-for="Empresa">Empresa</label>
                                <input asp-for="Empresa" type="text" class="form-control" />
                                <span asp-validation-for="Empresa" class="text-danger"></span>

                            </div>

                            <div class="col-4">
                                <label asp-for="Dataentrada">Data da Entrada</label>
                                <input asp-for="Dataentrada" type="datetime-local" class="form-control" />
                                <span asp-validation-for="Dataentrada" class="text-danger"></span>
 
                            </div> 
                            <div class="col-4">
                                <label asp-for="DataSaida">Data da Saída</label>
                                <input asp-for="DataSaida" type="datetime-local" class="form-control" />
                                <span asp-validation-for="DataSaida" class="text-danger"></span>

                            </div>
                             <div class="col-4">
                                <label asp-for="MotivoVisita">Motivo da Visita</label>
                                <input asp-for="MotivoVisita" type="text" class="form-control" />
                                <span asp-validation-for="MotivoVisita" class="text-danger"></span>

                            </div>
                            <div class="col-4">
                                <label asp-for="VisitandoQuem">Quem visitou</label>
                                <input asp-for="VisitandoQuem" type="text" class="form-control" />
                                <span asp-validation-for="VisitandoQuem" class="text-danger"></span>

                            </div>
                             <button class="btn btn-primary" type="submit">Salvar</button>
                        </form>
                    </div>
                    <a asp-controller="Visitantes" asp-action="ListaVisitantes" class="btn btn-light">Voltar</a>
                </div>
     </div>
      
